@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.yt-search {
  width: 576px;
  margin: auto;
}

@include media-breakpoint-down(sm) {
  .yt-search {
    width: 90%;
    margin: auto;
  }
}


.input-group .yt-control {
  background: rgba(0,0,0, 0.6);
  color: rgb(255,255,255);

  &:focus {
    background: rgba(0,0,0, 0.6);
    color: rgb(255,255,255);
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(206, 230, 253, 0.9);
  }

}