@import '~bootstrap/scss/bootstrap';

.yt-link {
  display: block;
  width: 100%;
}

.yt-card-img {
  height: 100%;
}

.yt-search-content-main {
  &:hover {
    .yt-card-img {
      filter: blur(2px);
    }
  }
}

.yt-card {
  background: rgba(113, 113, 113, 0.25);
  box-shadow: 0 8px 32px 0 rgba(70, 71, 76, 0.40);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.yt-card-title {
  color: $dark;
}

.yt-card-text {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: $dark;
  width: 95%; /* Could be anything you like. */
}

.yt-card-text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  max-height: 3.5em;
  line-height: 1.2em;
  text-align: justify;

  height: 34px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical;
  white-space: normal;
}

.yt-card-text .yt-card-ellipsis::after {
  content: "...";
  position: absolute;
  right: -12px;
  bottom: 4px;
}